@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
:root {
  --primary-color: rgba(3, 19, 33, 0.75);
  --svg-color: rgba(21, 225, 240, 0.8);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}
html {
  height: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #191f26;
  overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  z-index: 999;
}

.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
  font-family: "Great Vibes", cursive;
}

.nav div.logo a {
  text-decoration: none;
  color: #15e1f0;
  font-size: 2rem;
}

.nav div.main_list {
  height: 65px;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  font-size: 16px;
  font-weight: 600;
}

.nav div.main_list ul li a:hover {
  color: #fff;
}
.div-fade {
  opacity: 1;
}

/* Home section */

.navTrigger {
  display: none;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-container {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .navTrigger {
    display: block;
  }
  .nav div.logo {
    margin-left: 15px;
  }
  .nav div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .nav div.show_list {
    height: auto;
    opacity: 0;
  }
  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #111;
    /*same background color of navbar*/
    background-position: center top;
  }
  .nav div.main_list ul li {
    width: 100%;
    text-align: right;
  }
  .nav div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 3rem;
    padding: 20px;
  }
  .nav div.media_button {
    display: block;
  }
}

/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: #fff;
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

.affix {
  padding: 0;
  background-color: #111;
}
.affix a {
  color: brown;
}

.myH2 {
  text-align: center;
  font-size: 4rem;
}
.myP {
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px;
}
@media all and (max-width: 700px) {
  .myP {
    padding: 2%;
  }
}

/* Home CSS Start */
.showcase {
  color: #fff;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.showcase .left {
  background: var(--primary-color);
  width: 50%;
}
.showcase .right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background: var(--svg-color);
}
.showcase .right svg {
  height: 400px;
  width: 550px;
}

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .box {
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container .box .title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
}
.container .box .title .block {
  width: 0%;
  height: inherit;
  background: #15e1f0;
  position: absolute;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: flex;
}
.container .box .title h1 {
  color: #fff;
  font-size: 30px;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}
.container .box .title h1 span {
  width: 0px;
  height: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #15e1f0;
  -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}
.container .box .role {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: -10px;
}
.container .box .role .block {
  width: 0%;
  height: inherit;
  background: #ff9800;
  position: absolute;
  animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  display: flex;
}
.container .box .role p {
  animation: secFadeIn 2s forwards;
  animation-delay: 3.2s;
  opacity: 0;
  font-weight: 400;
  color: #ffffff;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #15e1f0;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #15e1f0;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #15e1f0;
    border: 0px solid #222;
    bottom: 13px;
  }
}
@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes top {
  0% {
    opacity: 0;
    bottom: -80px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@keyframes icon {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.3) rotate(-2deg);
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
#left-hand {
  animation: wave-animation 3s linear infinite; /* Refers to the name of your @keyframes element below */
  transform-origin: 100% 100%; /* Pivot around the bottom-left palm */
  transform-box: fill-box;
  display: inline-block;
}
#right-hand {
  animation: wave-animation-right 3s linear infinite; /* Refers to the name of your @keyframes element below */
  transform-origin: 0% 100%; /* Pivot around the bottom-left palm */
  transform-box: fill-box;
  display: inline-block;
}
@keyframes wave-animation {
  0% {
    transform: rotate(-0deg);
  }
  10% {
    transform: rotate(20deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(-12deg);
  }
  40% {
    transform: rotate(7deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(-0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(-0deg);
  }
}
@keyframes wave-animation-right {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-20deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(12deg);
  }
  40% {
    transform: rotate(-7deg);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
#typing::after {
  content: "|";
  font-weight: 900;
  width: 40px;
  color: #15e1f0;
  font-size: 22px;
  padding-left: 2px;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.portfolio {
  height: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 55px 50px 55px;
}
.header {
  margin-bottom: 5rem;
}
.header h2,
.about .header h2 {
  color: #fff;
  font-size: 30px;
}
.header .border,
.about .header .border,
.skills .header .border {
  height: 6px;
  background: #15e1f0;
  width: 50%;
  border-radius: 25px;
  margin-left: auto;
}
.single-port {
  display: flex;
  justify-content: space-between;
  background: var(--primary-color);
  height: 380px;
  width: 100%;
  margin-bottom: 70px;
}
.single-port .port-img {
  height: 380px;
  width: 50%;
}
.port-img img {
  height: inherit;
  width: 100%;
}
.single-port .port-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  box-sizing: border-box;
  padding: 0px 20px 0px 20px;
}
.single-port p,
h3 {
  color: #fff;
}
.single-port h3 {
  font-size: 23px;
}
.single-port p {
  font-size: 15px;
  line-height: 1.5em;
  text-align: justify;
}
.single-port .port-border {
  height: inherit;
  width: 4px;
  background: #15e1f0;
}
.button {
  display: inline-flex;
  height: 35px;
  width: 150px;
  border: 2px solid #15e1f0;
  color: #15e1f0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.7em;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#button-5 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-5 a, #button-5 button {
  position: relative;
  text-decoration: none;
  color: #15e1f0;
  transition: all 0.45s ease-Out;
}

#translate {
  transform: rotate(50deg);
  width: 100%;
  height: 250%;
  left: -200px;
  top: -30px;
  background: #15e1f0;
  position: absolute;
  transition: all 0.3s ease-Out;
}
.bounce {
  animation: bounce 1s ease infinite;
}
@keyframes bounce {
  50% {
    transform: translateY(-20%);
  }
}

#button-5:hover #translate {
  left: 0;
}

#button-5:hover a,#button-5:hover button  {
  color: var(--primary-color);
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.single-port .port-desc .tech {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.tech .tech-icons {
  font-size: 30px;
}
.tech-icons i {
  padding-right: 10px;
}
.tech-icons i.laravel {
  color: red;
}
.tech-icons i.bs {
  color: #563d7c;
}
.tech-icons i.js {
  color: yellow;
}
/* Home CSS End*/

/* About CSS Start*/
.about,
.contact {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.port {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.port .ports {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 55px 50px 55px;
}
.about-content,
.contact-content,
.port-content {
  position: absolute;
  top: 15%;
}
.resume {
  color: #15e1f0;
  text-decoration: none;
}
.hidden-text {
  display: none;
}
.about p {
  color: #fff;
  box-sizing: border-box;
  text-align: center;
  padding: 0 200px 0 200px;
  font-size: 18px;
  line-height: 1.5em;
}
/* About CSS End*/

/* Skills CSS Start*/
.skills {
  position: relative;
  top: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}
.expertise {
  width: 100%;
}
.logos {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 0 150px 0 150px;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
}
.logo {
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.logo:hover {
  transform: scale(1.2);
}
.logo.html {
  box-shadow: 0px 0px 7px 4px #ff4b00;
  animation: border-flicker-html 2s linear infinite;
}
.logo.css {
  box-shadow: 0px 0px 7px 4px #2196f3;
  animation: border-flicker-css 2s linear infinite;
}
.logo.js {
  box-shadow: 0px 0px 7px 4px #f7df1e;
  animation: border-flicker-js 2s linear infinite;
}
.logo.bootstrap {
  box-shadow: 0px 0px 7px 4px #563d7c;
  animation: border-flicker-bootstrap 2s linear infinite;
}
.logo.php {
  box-shadow: 0px 0px 7px 4px #8993be;
  animation: border-flicker-php 2s linear infinite;
}
.logo.laravel {
  box-shadow: 0px 0px 7px 4px #ff2d20;
  animation: border-flicker-laravel 2s linear infinite;
}
.logo.react {
  box-shadow: 0px 0px 7px 4px #61dafb;
  animation: border-flicker-react 2s linear infinite;
}
.logo.mysql {
  box-shadow: 0px 0px 7px 4px #f29111;
  animation: border-flicker-mysql 2s linear infinite;
}
.logo.cs {
  box-shadow: 0px 0px 7px 4px #9a4993;
  animation: border-flicker-cs 2s linear infinite;
}
.logo.java {
  box-shadow: 0px 0px 7px 4px #e76f00;
  animation: border-flicker-java 2s linear infinite;
}
.logo.cpp {
  box-shadow: 0px 0px 7px 4px #5c8dbc;
  animation: border-flicker-cpp 2s linear infinite;
}
@keyframes border-flicker-html {
  0% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 7px 4px #ff4b00;
    -moz-box-shadow: 0px 0px 7px 4px #ff4b00;
    box-shadow: 0px 0px 7px 4px #ff4b00;
  }
  2% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #ff4b00;
    -moz-box-shadow: 0px 0px 7px 4px #ff4b00;
    box-shadow: 0px 0px 7px 4px #ff4b00;
  }
  4% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 7px 4px #ff4b00;
    -moz-box-shadow: 0px 0px 7px 4px #ff4b00;
    box-shadow: 0px 0px 7px 4px #ff4b00;
  }

  8% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #ff4b00;
    -moz-box-shadow: 0px 0px 7px 4px #ff4b00;
    box-shadow: 0px 0px 7px 4px #ff4b00;
  }
  70% {
    opacity: 0.7;
    -webkit-box-shadow: 0px 0px 7px 4px #ff4b00;
    -moz-box-shadow: 0px 0px 7px 4px #ff4b00;
    box-shadow: 0px 0px 7px 4px #ff4b00;
  }
  100% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #ff4b00;
    -moz-box-shadow: 0px 0px 7px 4px #ff4b00;
    box-shadow: 0px 0px 7px 4px #ff4b00;
  }
}
@keyframes border-flicker-css {
  0% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 7px 4px #2196f3;
    -moz-box-shadow: 0px 0px 7px 4px #2196f3;
    box-shadow: 0px 0px 7px 4px #2196f3;
  }
  2% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #2196f3;
    -moz-box-shadow: 0px 0px 7px 4px #2196f3;
    box-shadow: 0px 0px 7px 4px #2196f3;
  }
  4% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 7px 4px #2196f3;
    -moz-box-shadow: 0px 0px 7px 4px #2196f3;
    box-shadow: 0px 0px 7px 4px #2196f3;
  }

  8% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #2196f3;
    -moz-box-shadow: 0px 0px 7px 4px #2196f3;
    box-shadow: 0px 0px 7px 4px #2196f3;
  }
  70% {
    opacity: 0.7;
    -webkit-box-shadow: 0px 0px 7px 4px #2196f3;
    -moz-box-shadow: 0px 0px 7px 4px #2196f3;
    box-shadow: 0px 0px 7px 4px #2196f3;
  }
  100% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #2196f3;
    -moz-box-shadow: 0px 0px 7px 4px #2196f3;
    box-shadow: 0px 0px 7px 4px #2196f3;
  }
}
@keyframes border-flicker-js {
  0% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 7px 4px #f7df1e;
    -moz-box-shadow: 0px 0px 7px 4px #f7df1e;
    box-shadow: 0px 0px 7px 4px #f7df1e;
  }
  2% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #f7df1e;
    -moz-box-shadow: 0px 0px 7px 4px #f7df1e;
    box-shadow: 0px 0px 7px 4px #f7df1e;
  }
  4% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 7px 4px #f7df1e;
    -moz-box-shadow: 0px 0px 7px 4px #f7df1e;
    box-shadow: 0px 0px 7px 4px #f7df1e;
  }

  8% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #f7df1e;
    -moz-box-shadow: 0px 0px 7px 4px #f7df1e;
    box-shadow: 0px 0px 7px 4px #f7df1e;
  }
  70% {
    opacity: 0.7;
    -webkit-box-shadow: 0px 0px 7px 4px #f7df1e;
    -moz-box-shadow: 0px 0px 7px 4px #f7df1e;
    box-shadow: 0px 0px 7px 4px #f7df1e;
  }
  100% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #f7df1e;
    -moz-box-shadow: 0px 0px 7px 4px #f7df1e;
    box-shadow: 0px 0px 7px 4px #f7df1e;
  }
}
@keyframes border-flicker-bootstrap {
  0% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 7px 4px #563d7c;
    -moz-box-shadow: 0px 0px 7px 4px #563d7c;
    box-shadow: 0px 0px 7px 4px #563d7c;
  }
  2% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #563d7c;
    -moz-box-shadow: 0px 0px 7px 4px #563d7c;
    box-shadow: 0px 0px 7px 4px #563d7c;
  }
  4% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 7px 4px #563d7c;
    -moz-box-shadow: 0px 0px 7px 4px #563d7c;
    box-shadow: 0px 0px 7px 4px #563d7c;
  }

  8% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #563d7c;
    -moz-box-shadow: 0px 0px 7px 4px #563d7c;
    box-shadow: 0px 0px 7px 4px #563d7c;
  }
  70% {
    opacity: 0.7;
    -webkit-box-shadow: 0px 0px 7px 4px #563d7c;
    -moz-box-shadow: 0px 0px 7px 4px #563d7c;
    box-shadow: 0px 0px 7px 4px #563d7c;
  }
  100% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #563d7c;
    -moz-box-shadow: 0px 0px 7px 4px #563d7c;
    box-shadow: 0px 0px 7px 4px #563d7c;
  }
}
@keyframes border-flicker-php {
  0% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 7px 4px #8993be;
    -moz-box-shadow: 0px 0px 7px 4px #8993be;
    box-shadow: 0px 0px 7px 4px #8993be;
  }
  2% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #8993be;
    -moz-box-shadow: 0px 0px 7px 4px #8993be;
    box-shadow: 0px 0px 7px 4px #8993be;
  }
  4% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 7px 4px #8993be;
    -moz-box-shadow: 0px 0px 7px 4px #8993be;
    box-shadow: 0px 0px 7px 4px #8993be;
  }

  8% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #8993be;
    -moz-box-shadow: 0px 0px 7px 4px #8993be;
    box-shadow: 0px 0px 7px 4px #8993be;
  }
  70% {
    opacity: 0.7;
    -webkit-box-shadow: 0px 0px 7px 4px #8993be;
    -moz-box-shadow: 0px 0px 7px 4px #8993be;
    box-shadow: 0px 0px 7px 4px #8993be;
  }
  100% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #8993be;
    -moz-box-shadow: 0px 0px 7px 4px #8993be;
    box-shadow: 0px 0px 7px 4px #8993be;
  }
}
@keyframes border-flicker-laravel {
  0% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 7px 4px #ff2d20;
    -moz-box-shadow: 0px 0px 7px 4px #ff2d20;
    box-shadow: 0px 0px 7px 4px #ff2d20;
  }
  2% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #ff2d20;
    -moz-box-shadow: 0px 0px 7px 4px #ff2d20;
    box-shadow: 0px 0px 7px 4px #ff2d20;
  }
  4% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 7px 4px #ff2d20;
    -moz-box-shadow: 0px 0px 7px 4px #ff2d20;
    box-shadow: 0px 0px 7px 4px #ff2d20;
  }

  8% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #ff2d20;
    -moz-box-shadow: 0px 0px 7px 4px #ff2d20;
    box-shadow: 0px 0px 7px 4px #ff2d20;
  }
  70% {
    opacity: 0.7;
    -webkit-box-shadow: 0px 0px 7px 4px #ff2d20;
    -moz-box-shadow: 0px 0px 7px 4px #ff2d20;
    box-shadow: 0px 0px 7px 4px #ff2d20;
  }
  100% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #ff2d20;
    -moz-box-shadow: 0px 0px 7px 4px #ff2d20;
    box-shadow: 0px 0px 7px 4px #ff2d20;
  }
}
@keyframes border-flicker-react {
  0% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 7px 4px #61dafb;
    -moz-box-shadow: 0px 0px 7px 4px #61dafb;
    box-shadow: 0px 0px 7px 4px #61dafb;
  }
  2% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #61dafb;
    -moz-box-shadow: 0px 0px 7px 4px #61dafb;
    box-shadow: 0px 0px 7px 4px #61dafb;
  }
  4% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 7px 4px #61dafb;
    -moz-box-shadow: 0px 0px 7px 4px #61dafb;
    box-shadow: 0px 0px 7px 4px #61dafb;
  }

  8% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #61dafb;
    -moz-box-shadow: 0px 0px 7px 4px #61dafb;
    box-shadow: 0px 0px 7px 4px #61dafb;
  }
  70% {
    opacity: 0.7;
    -webkit-box-shadow: 0px 0px 7px 4px #61dafb;
    -moz-box-shadow: 0px 0px 7px 4px #61dafb;
    box-shadow: 0px 0px 7px 4px #61dafb;
  }
  100% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #61dafb;
    -moz-box-shadow: 0px 0px 7px 4px #61dafb;
    box-shadow: 0px 0px 7px 4px #61dafb;
  }
}
@keyframes border-flicker-mysql {
  0% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 7px 4px #f29111;
    -moz-box-shadow: 0px 0px 7px 4px #f29111;
    box-shadow: 0px 0px 7px 4px #f29111;
  }
  2% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #f29111;
    -moz-box-shadow: 0px 0px 7px 4px #f29111;
    box-shadow: 0px 0px 7px 4px #f29111;
  }
  4% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 7px 4px #f29111;
    -moz-box-shadow: 0px 0px 7px 4px #f29111;
    box-shadow: 0px 0px 7px 4px #f29111;
  }

  8% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #f29111;
    -moz-box-shadow: 0px 0px 7px 4px #f29111;
    box-shadow: 0px 0px 7px 4px #f29111;
  }
  70% {
    opacity: 0.7;
    -webkit-box-shadow: 0px 0px 7px 4px #f29111;
    -moz-box-shadow: 0px 0px 7px 4px #f29111;
    box-shadow: 0px 0px 7px 4px #f29111;
  }
  100% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #f29111;
    -moz-box-shadow: 0px 0px 7px 4px #f29111;
    box-shadow: 0px 0px 7px 4px #f29111;
  }
}
@keyframes border-flicker-cpp {
  0% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 7px 4px #5c8dbc;
    -moz-box-shadow: 0px 0px 7px 4px #5c8dbc;
    box-shadow: 0px 0px 7px 4px #5c8dbc;
  }
  2% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #5c8dbc;
    -moz-box-shadow: 0px 0px 7px 4px #5c8dbc;
    box-shadow: 0px 0px 7px 4px #5c8dbc;
  }
  4% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 7px 4px #5c8dbc;
    -moz-box-shadow: 0px 0px 7px 4px #5c8dbc;
    box-shadow: 0px 0px 7px 4px #5c8dbc;
  }

  8% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #5c8dbc;
    -moz-box-shadow: 0px 0px 7px 4px #5c8dbc;
    box-shadow: 0px 0px 7px 4px #5c8dbc;
  }
  70% {
    opacity: 0.7;
    -webkit-box-shadow: 0px 0px 7px 4px #5c8dbc;
    -moz-box-shadow: 0px 0px 7px 4px #5c8dbc;
    box-shadow: 0px 0px 7px 4px #5c8dbc;
  }
  100% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #5c8dbc;
    -moz-box-shadow: 0px 0px 7px 4px #5c8dbc;
    box-shadow: 0px 0px 7px 4px #5c8dbc;
  }
}
@keyframes border-flicker-java {
  0% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 7px 4px #e76f00;
    -moz-box-shadow: 0px 0px 7px 4px #e76f00;
    box-shadow: 0px 0px 7px 4px #e76f00;
  }
  2% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #e76f00;
    -moz-box-shadow: 0px 0px 7px 4px #e76f00;
    box-shadow: 0px 0px 7px 4px #e76f00;
  }
  4% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 7px 4px #e76f00;
    -moz-box-shadow: 0px 0px 7px 4px #e76f00;
    box-shadow: 0px 0px 7px 4px #e76f00;
  }

  8% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #e76f00;
    -moz-box-shadow: 0px 0px 7px 4px #e76f00;
    box-shadow: 0px 0px 7px 4px #e76f00;
  }
  70% {
    opacity: 0.7;
    -webkit-box-shadow: 0px 0px 7px 4px #e76f00;
    -moz-box-shadow: 0px 0px 7px 4px #e76f00;
    box-shadow: 0px 0px 7px 4px #e76f00;
  }
  100% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #e76f00;
    -moz-box-shadow: 0px 0px 7px 4px #e76f00;
    box-shadow: 0px 0px 7px 4px #e76f00;
  }
}
@keyframes border-flicker-cs {
  0% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 7px 4px #9a4993;
    -moz-box-shadow: 0px 0px 7px 4px #9a4993;
    box-shadow: 0px 0px 7px 4px #9a4993;
  }
  2% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #9a4993;
    -moz-box-shadow: 0px 0px 7px 4px #9a4993;
    box-shadow: 0px 0px 7px 4px #9a4993;
  }
  4% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 7px 4px #9a4993;
    -moz-box-shadow: 0px 0px 7px 4px #9a4993;
    box-shadow: 0px 0px 7px 4px #9a4993;
  }

  8% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #9a4993;
    -moz-box-shadow: 0px 0px 7px 4px #9a4993;
    box-shadow: 0px 0px 7px 4px #9a4993;
  }
  70% {
    opacity: 0.7;
    -webkit-box-shadow: 0px 0px 7px 4px #9a4993;
    -moz-box-shadow: 0px 0px 7px 4px #9a4993;
    box-shadow: 0px 0px 7px 4px #9a4993;
  }
  100% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 4px #9a4993;
    -moz-box-shadow: 0px 0px 7px 4px #9a4993;
    box-shadow: 0px 0px 7px 4px #9a4993;
  }
}
.logos .logo svg {
  height: 60px;
  width: 55px;
  transition: all 0.3s;
}
/* Skills CSS End*/

/* Contact CSS Start*/
.contact .form {
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 270px 130px 30px 130px;
  margin-bottom: 150px;
  margin-top: 70px;
}
.form .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 20px 20px 30px;
  margin-top: 4rem;
}
.left .submit {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.right p {
  font-size: 14px;
  color: gray;
}
.form .social {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.social .social-single {
  display: flex;
  align-items: center;
  margin: 10px 10px;
}
.social-single img {
  width: 35px;
  padding-right: 15px;
}
.social-single a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}
.social-single a:hover {
  color: #15e1f0;
}
.error-message{
  color: red;
  font-size: 10px;
}
/* Contact CSS End*/
